body {
    background-color: black;
    color: white;
}

#container {
    display: inline;
    height: 600px;
}

#panel {
    float: right;
}

canvas {
    border: 1px darkgrey solid;
    position: absolute;
    left: 0px;
    right: 0px;
}

#canvas-stars {
    z-index: 1;
}

#canvas-orbits {
    z-index: 2;
}

#canvas-system {
    z-index: 3;
}